#footerText {
    color: white !important;
    font-size: 3.5vw;
    margin: 15px;text-decoration: none;
}

#containerfooter>#footerText:hover {
    cursor: pointer;
}

#containerfooter {
    border-bottom: 3px solid white;
}